@model IEnumerable<AimAnchor.Models.FeedbackCartItem>

@{
    ViewData["Title"] = "Cart Items";
}

<h1>Feedback items</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GoalAchievementRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reflection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Improvements)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Goal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GoalAchievementRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reflection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Improvements)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Goal.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FeedbackCartItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FeedbackCartItemId">Details</a> |
                <a asp-action="Remove" asp-route-id="@item.FeedbackCartItemId">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
<form asp-action="saveReflections">
    <fieldset>
        <label for="date">Date</label>
        <input name="date" type="date" />
    </fieldset>
    <button>submit Feedback</button>
</form>

